body {
  padding-top: 50px; }

.waste-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 15px 0px;
  border: black 1px solid;
  min-height: 100px;
  padding: 10px; }
  .waste-section .waste-user {
    max-width: 200px;
    overflow: hidden;
    text-align: center;
    margin-right: 30px; }
    .waste-section .waste-user img {
      width: 100px;
      height: 100px; }
